/*VARIABLES*/
/*VARIABLES*/
/*MIXINS*/
/*MAIN*/
body {
  background: #404040;
  font-family: 'avantgarde_md_btmedium';
  letter-spacing: 0.08em;
}
header {
  width: 100%;
  height: 155px;
  position: relative;
  background: url(../images/bg_base.gif) #626262;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}
header .logo {
  margin: 30px 0 0 20px;
  position: absolute;
}
header nav {
  position: absolute;
  right: 40px;
  bottom: 20px;
}
header nav ul li {
  float: left;
  margin-left: 20px;
}
header nav ul li a {
  font-size: 13px;
  color: #ffffff;
  transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
}
header nav ul li a:hover {
  color: #ff8500;
  transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
}
h1 {
  font-size: 56px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 40px;
}
h1 span {
  color: #181818;
}
h2 {
  font-size: 31px;
  color: #181818;
  margin: 15px 0;
}
p {
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  padding-bottom: 15px;
}
p span {
  color: #ff8500;
}
.content {
  display: table;
  width: 988px;
  margin: 0 auto;
  padding-top: 100px;
}
.content .col-left {
  width: 460px;
  float: left;
  margin-right: 58px;
}
.content .col-right {
  width: 470px;
  float: left;
}
section#home {
  width: 100%;
  height: 860px;
  background: url(../images/bg_home.jpg);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}
section#portfolio {
  width: 100%;
  height: 800px;
}
#floatingMenu {
  position: absolute;
  right: 20px;
  width: 320px;
}
#floatingMenu #drop-nav {
  background: url(../images/bg_base.gif) #626262;
  padding: 15px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}
#floatingMenu ul {
  display: table;
}
#floatingMenu ul li {
  float: left;
  margin-right: 20px;
}
#floatingMenu ul li a {
  font-size: 13px;
  color: #ffffff;
  transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
}
#floatingMenu ul li a:hover {
  color: #ff8500;
  transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
