/*VARIABLES*/
/*VARIABLES*/
/*MIXINS*/
/*MAIN*/
body {
  background: #404040;
  font-family: 'avantgarde_md_btmedium';
  letter-spacing: 0.08em;
}
header {
  width: 100%;
  height: 155px;
  position: relative;
  z-index: 11;
  background: url(../images/bg_base.gif) #626262;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}
header .logo {
  margin: 30px 0 0 20px;
  position: absolute;
}
header nav {
  position: absolute;
  right: 40px;
  bottom: 20px;
}
header nav ul li {
  float: left;
  margin-left: 20px;
}
header nav ul li a {
  font-size: 13px;
  color: #ffffff;
  transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
}
header nav ul li a:hover {
  color: #ff8500;
  transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
}
h1 {
  font-size: 56px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 40px;
  text-transform: uppercase;
}
h1 span {
  color: #181818;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
}
h2 {
  font-size: 31px;
  text-transform: uppercase;
  color: #181818;
  margin: 15px 0 50px 0;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
}
p {
  color: #ffffff;
  font-size: 15px;
  padding-bottom: 15px;
  line-height: 1.3em;
  text-align: justify;
}
p mark {
  background: none;
  color: #ff8500;
  font-style: normal;
}
.content {
  display: table;
  width: 988px;
  margin: 0 auto;
  padding: 100px 0;
  position: relative;
}
.content .col-center {
  width: 100%;
  float: left;
  text-align: center;
  margin-top: 100px;
}
.content .col-left {
  width: 460px;
  float: left;
  margin-right: 58px;
}
.content .col-right {
  width: 470px;
  float: left;
}
section#home {
  width: 100%;
  height: auto;
  display: block;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  position: relative;
  background: url(../images/bg_home.jpg) fixed;
  z-index: 9;
}
section#portfolio {
  width: 100%;
  height: auto;
  display: block;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  position: relative;
  background: url(../images/bg_portfolio.jpg) fixed;
  z-index: 8;
}
section#equipe {
  width: 100%;
  height: auto;
  display: block;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 7;
}
section#clientes {
  width: 100%;
  height: auto;
  display: block;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  position: relative;
  background: url(../images/bg_clientes.jpg) fixed;
  z-index: 6;
}
section#contato {
  width: 100%;
  height: auto;
  display: block;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  position: relative;
  box-shadow: none;
  z-index: 5;
}
#floatingMenu {
  position: absolute;
  right: 20px;
  width: 635px;
  z-index: 10;
}
#floatingMenu #drop-nav {
  background: url(../images/bg_base.gif) #626262;
  padding: 15px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}
#floatingMenu ul {
  display: table;
}
#floatingMenu ul li {
  float: left;
  margin-right: 20px;
  line-height: 1em;
  padding-top: 13px;
}
#floatingMenu ul li:first-child {
  padding: 0;
  margin-right: 50px;
}
#floatingMenu ul li:last-child {
  margin: 0;
}
#floatingMenu ul li:nth-child(6) {
  margin-right: 10px;
}
#floatingMenu ul li a {
  font-size: 13px;
  color: #ffffff;
  transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
}
#floatingMenu ul li a:hover {
  color: #ff8500;
  transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
}
#floatingMenu ul li .home {
  width: 204px;
  height: 45px;
  display: block;
  overflow: hidden;
  text-indent: -99em;
  background: url('../images/sprite.png') no-repeat -65px 0px;
}
a.min-btn {
  width: 23px;
  height: 23px;
  display: block;
  background-image: url('../images/sprite.png');
  background-repeat: no-repeat;
}
#social {
  position: absolute;
  right: 30px;
  top: 10px;
}
#social li {
  float: left;
  margin-right: 10px;
}
#social li:last-child {
  margin: 0;
}
.twitter {
  background-position: 0 0;
}
.twitter:hover {
  opacity: 0.5;
}
.facebook {
  background-position: -23px 0;
}
.facebook:hover {
  opacity: 0.5;
}
ul.slides_container {
  width: 988px;
  display: none;
}
ul.slides_container li {
  width: 988px;
  height: 453px;
  display: block;
}
ul.slides_container li div.slide {
  width: 232px;
  height: 213px;
  position: relative;
  overflow: hidden;
  background: #2b2b2b;
  float: left;
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.5);
  margin: 5px 10px 10px 5px;
}
ul.slides_container li div.slide a {
  width: 80px;
  padding-top: 35px;
  display: block;
  background: url('../images/on.jpg') no-repeat 18px 0;
  text-decoration: none;
  color: #cf6c00;
  position: absolute;
  top: 75px;
  right: 65px;
}
ul.slides_container li div.slide img {
  position: absolute;
  top: 0;
  left: 0;
}
ul.slides_container li div.slide .name-port {
  color: #ffffff;
  position: absolute;
  bottom: 25px;
  left: 10px;
  font-size: 15px;
  font-weight: bold;
}
ul.slides_container li div.slide .type-port {
  font-weight: bold;
  position: absolute;
  bottom: 5px;
  left: 10px;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1);
  color: #111;
}
#slides,
#slides-testimony {
  position: relative;
}
#slides .pagination,
#slides-testimony .pagination {
  display: none;
}
#slides a.prev,
#slides-testimony a.prev,
#slides a.next,
#slides-testimony a.next {
  width: 42px;
  height: 42px;
  position: absolute;
  top: -52px;
  right: 57px;
  background: url('../images/sprite.png') no-repeat;
  display: block;
  float: left;
}
#slides a.prev:hover,
#slides-testimony a.prev:hover,
#slides a.next:hover,
#slides-testimony a.next:hover {
  opacity: 0.7;
}
#slides a.prev,
#slides-testimony a.prev {
  background-position: -302px -4px;
}
#slides a.next,
#slides-testimony a.next {
  background-position: -341px -4px;
  margin-left: 10px;
  right: 10px;
}
.selected {
  color: #ff8500 !important;
}
ul#clients {
  margin-top: 50px;
  display: table;
}
ul#clients li {
  width: 135px;
  padding: 3px;
  margin: 0 10px 10px 0;
  float: left;
  border-radius: 5px;
  background-color: #404040;
  overflow: hidden;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  border: 1px solid #474747;
}
form#contact-form {
  margin-top: 100px;
}
form#contact-form input[type="text"],
form#contact-form input[type="email"],
form#contact-form textarea {
  transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  background: #2b2b2b;
  font-weight: bold;
  color: #606060;
  font-size: 15px;
  width: 420px;
  padding: 12px;
  border: 0;
  margin-bottom: 10px;
}
form#contact-form label {
  transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  margin-bottom: 8px;
  display: block;
}
form#contact-form input.error,
form#contact-form textarea.error {
  box-shadow: 0 0 3px #ff8500 !important;
}
form#contact-form textarea {
  height: 150px;
}
form#contact-form input[type="submit"] {
  text-transform: uppercase;
  color: #ff8500;
  font-size: 31px;
  background: none;
  border: 0;
  font-weight: bold;
  float: right;
  margin: 15px 15px 0 0;
}
form#contact-form input[type="submit"]:hover {
  opacity: 0.8;
}
.other-contact {
  margin-top: 30px;
}
footer {
  text-align: center;
  background: #181818;
  height: 120px;
}
footer p {
  color: #626262;
  padding-top: 60px;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
}
ul.filter {
  display: table;
  position: absolute;
  right: 10px;
  margin-top: -25px;
}
ul.filter li {
  float: left;
  margin-right: 5px;
}
ul.filter li:last-child {
  margin: 0;
}
ul.filter li a {
  background-color: #2b2b2b;
  font-size: 13px;
  padding: 10px 20px;
  font-size: 13px;
  color: #fff;
  transition: all .2s ease 0s;
  -webkit-transition: all .2s ease 0s;
}
ul.filter li a:hover {
  color: #ff8500;
  transition: all .2s ease 0s;
  -webkit-transition: all .2s ease 0s;
}
ul.filter li a.focus {
  color: #ff8500;
}
ul#case {
  width: 988px;
}
ul#case li {
  float: left;
  margin: 5px 10px 10px 5px;
}
ul#case li div.slide {
  width: 232px;
  height: 213px;
  position: relative;
  overflow: hidden;
  background: #2b2b2b;
  float: left;
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.5);
}
ul#case li div.slide a {
  width: 80px;
  padding-top: 35px;
  display: block;
  background: url('../images/on.jpg') no-repeat 18px 0;
  text-decoration: none;
  color: #cf6c00;
  position: absolute;
  top: 75px;
  right: 65px;
}
ul#case li div.slide img {
  position: absolute;
  top: 0;
  left: 0;
}
ul#case li div.slide .name-port {
  color: #fff;
  position: absolute;
  bottom: 25px;
  left: 10px;
  font-size: 15px;
  font-weight: 700;
}
ul#case li div.slide .type-port {
  font-weight: 700;
  position: absolute;
  bottom: 5px;
  left: 10px;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1);
  color: #111;
}
#slides-testimony {
  padding: 0 10px 0 40px;
  background: url(../images/aspas.jpg) no-repeat;
}
#slides-testimony .slides_container {
  width: auto;
}
#slides-testimony .slides_container li {
  width: 430px;
}
#slides-testimony .slides_container li .slide {
  width: auto;
  background: none;
  box-shadow: none;
}
#slides-testimony .clients {
  color: #ff8500;
  margin-top: -13px;
}
ul#team {
  margin-top: 50px;
}
ul#team li {
  float: left;
  margin-right: 40px;
}
ul#team li:last-child {
  margin-right: 0;
}
ul#team li img {
  margin-bottom: 10px;
}
ul#team li .career {
  color: #ff8500;
  margin-top: -13px;
}
#infografic #info-slides {
  width: 515px;
  float: left;
  text-align: left;
  margin-right: 22px;
}
#infografic #info-slides div {
  display: none;
  opacity: 0;
}
#infografic #info-slides div .step-number {
  color: #ff8500;
  font-size: 100px;
  float: left;
  margin-top: -35px;
}
#infografic #info-slides div h1 {
  margin-top: 35px;
  padding-left: 80px;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.4);
}
#infografic #info-controller {
  width: 450px;
  height: 390px;
  float: left;
  position: relative;
}
#infografic #info-controller li.step-1 {
  position: absolute;
  left: 150px;
}
#infografic #info-controller li.step-2 {
  position: absolute;
  top: 120px;
  right: 30px;
}
#infografic #info-controller li.step-3 {
  position: absolute;
  top: 240px;
  left: 150px;
}
#infografic #info-controller li.step-4 {
  position: absolute;
  top: 120px;
}
#infografic #info-controller li {
  transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  width: 120px;
  height: 120px;
  border-radius: 120px;
  cursor: pointer;
  position: relative;
}
#infografic #info-controller li .info-base {
  transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  width: 120px;
  height: 120px;
  border-radius: 120px;
  padding: 7px;
  background: #ffffff;
  background-image: linear-gradient(top, #ffffff, #cccccc);
  background-image: -webkit-linear-gradient(top, #ffffff, #cccccc);
  background-image: -moz-linear-gradient(top, #ffffff, #cccccc);
  position: absolute;
  top: 8px;
  left: 8px;
}
#infografic #info-controller li .info-base:hover {
  opacity: 0.8;
}
#infografic #info-controller li .info-base .info-number {
  transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  width: 120px;
  text-align: center;
  display: block;
  position: absolute;
  top: 5px;
  font-size: 20px;
  color: #181818;
}
#infografic #info-controller li .info-base .info-text {
  width: 120px;
  text-align: center;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -5px;
}
#infografic #info-controller li .info-root {
  transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  width: 120px;
  height: 120px;
  border-radius: 120px;
  padding: 12px;
  background: #000;
  opacity: 0.3;
  border: 3px solid transparent;
  position: absolute;
  top: 0;
}
#infografic #info-controller .select {
  transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  color: #ffffff;
}
#infografic #info-controller .select .info-base {
  background: #ff8500;
  background-image: linear-gradient(top, #f2932a, #bf6116);
  background-image: -webkit-linear-gradient(top, #f2932a, #bf6116);
  background-image: -moz-linear-gradient(top, #f2932a, #bf6116);
}
#infografic #info-controller .select .info-base .info-number {
  color: #904508;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
}
#infografic #info-controller .select .info-base:hover {
  opacity: 1;
}
#infografic #info-controller .select .info-root {
  border-color: #ffffff;
}
.error {
  color: #FF8500;
}
