/*VARIABLES*/
@basecolor: #626262;
@gray-bgcolor: #404040;
@orange-color: #ff8500;
@white-color: #FFF;
@black-color: #181818;

@img-sprite: url('../images/sprite.png');
@box-shadow: 0px 3px 5px rgba(0,0,0, .5);
@chamfer: 1px 1px 0 rgba(255,255,255, .2);

/*MIXINS*/
.linkmain () { 
	font-size: 13px;
	color: @white-color;
	transition: all 0.2s ease 0s; -webkit-transition: all 0.2s ease 0s;
	&:hover {
		color: @orange-color;
		transition: all 0.2s ease 0s; -webkit-transition: all 0.2s ease 0s;
	}
}

.pages () {
	width: 100%;
	height: auto;
	display: block;
	box-shadow: @box-shadow; -moz-box-shadow: @box-shadow;
	position: relative;
}

.size-button (@size: 120px) {
	width: @size;
	height: @size;
	border-radius: @size;
}

.ease-obj (@sec: 0.4s) {
	transition: all @sec ease 0s;
	-webkit-transition: all @sec ease 0s;
	-moz-transition: all @sec ease 0s;
}

.white-gradient (@from: #FFF, @to: #ccc) {
	background-image: linear-gradient(top, @from, @to);
	background-image: -webkit-linear-gradient(top, @from, @to);
	background-image: -moz-linear-gradient(top, @from, @to);
}

.orange-gradient (@from: #f2932a, @to: #bf6116) {
	background-image: linear-gradient(top, @from, @to);
	background-image: -webkit-linear-gradient(top, @from, @to);
	background-image: -moz-linear-gradient(top, @from, @to);
}

/*MAIN*/

body { background: @gray-bgcolor; font-family: 'avantgarde_md_btmedium'; letter-spacing: 0.08em; }
header { 
	width: 100%; 
	height: 155px; 
	position: relative;
	z-index: 11;
	background: url(../images/bg_base.gif) @basecolor; 
	box-shadow: 0 3px 5px rgba(0,0,0, .5);

	.logo { 
		margin: 30px 0 0 20px;
		position: absolute; 
	}
	
	nav { 
		position: absolute;
		right: 40px;
		bottom: 20px;
		ul {
			li { 
				float: left;
				margin-left: 20px;
				a {
					.linkmain
				}
			}
		}
	}
}

h1 {
	font-size: 56px; 
	color: @white-color;
	font-weight: bold;
	margin-bottom: 40px;
	text-transform: uppercase;

	span {
		color: @black-color;
		text-shadow: @chamfer;
	}
}
h2 {
	font-size: 31px;
	text-transform: uppercase;
	color: @black-color;
	margin: 15px 0 50px 0;
	text-shadow: @chamfer;
}

p {
	color: @white-color;
	font-size: 15px;
	padding-bottom: 15px;
	line-height: 1.3em;
	
	mark {
		background: none;
		color: @orange-color;
		font-style: normal;
	}
}

.content {
	display: table;
	width: 988px;
	margin: 0 auto;
	padding: 100px 0;

	.col-center {
		width: 100%;
		float: left;
		text-align: center;
		margin-top: 100px;
	}

	.col-left {
	width: 460px;
	float: left;
	margin-right: 58px;
	}
	
	.col-right {
		width: 470px;
		float: left;
	}
}

section#home {
	.pages;
	background: url(../images/bg_home.jpg) fixed;
	z-index: 9;
}

section#portfolio {
	.pages;
	background: url(../images/bg_portfolio.jpg) fixed;
	z-index: 8;
}

section#equipe {
	.pages;
	z-index: 7;
}

section#clientes {
	.pages;
	background: url(../images/bg_clientes.jpg) fixed;
	z-index: 6;
}

section#contato {
	.pages;
	box-shadow: none;
	z-index: 5;
}

#floatingMenu { 
	position: absolute; 
	right: 20px; 
	width: 635px;
	z-index: 10;

	#drop-nav { 
		background: url(../images/bg_base.gif) @basecolor;
		padding: 15px;

		border-radius: 5px; -moz-border-radius: 5px;
		box-shadow: 0 3px 5px rgba(0,0,0, .5); -moz-box-shadow: 0 3px 5px rgba(0,0,0, .5);
	}

	ul {
		display: table;

		li { 
			float: left;
			margin-right: 20px;
			line-height: 1em;
			padding-top: 13px;

			&:first-child {
				padding: 0;
				margin-right: 50px;
			}

			&:last-child {
				margin: 0;
			}

			&:nth-child(6) {
				margin-right: 10px;
			}

			a {
				.linkmain
			}
		}
	}
}

a.min-btn {
	width: 23px;
	height: 23px;
	display: block;
	background-image: @img-sprite;
	background-repeat: no-repeat;
}

#social {
	position: absolute;
	right: 30px;
	top: 10px;

	li {
		float: left;
		margin-right: 10px;

		&:last-child {
			margin:0;
		}
	}
}

.twitter {
	background-position: 0 0;

	&:hover {
		opacity: 0.5;
	}
}

.facebook {
	background-position: -23px 0;

	&:hover {
		opacity: 0.5;
	}
}

ul.slides_container {
	width:988px;
	display:none;

	li {
		width: 988px;
		height: 453px;
		display:block;

		div.slide {
			width: 232px;
			height: 213px;
			position: relative;
			overflow: hidden;
			background: #2b2b2b;
			float: left;
			box-shadow: inset 3px 3px 5px rgba(0,0,0, .5);
			margin: 5px 10px 10px 5px;

			a {
				width: 80px;
				padding-top: 35px;
				display: block;
				background: url('../images/on.jpg') no-repeat 18px 0;
				text-decoration: none;
				color: #cf6c00;
				position: absolute;
				top: 75px;
				right: 65px;
			}

			img {
				position: absolute;
				top: 0;
				left: 0;
			}

			.name-port {
				color: @white-color;
				position: absolute;
				bottom: 25px;
				left: 10px;
				font-size: 15px;
				font-weight: bold;
			}

			.type-port {
				font-weight: bold;
				position: absolute;
				bottom: 5px;
				left: 10px;
				text-shadow:1px 1px 0 rgba(255,255,255, .1);
				color: #111;
			}
		}
	}
}

#slides, #slides-testimony {
	position: relative;

	.pagination {
		display: none;
	}

	a.prev, a.next {
		width: 42px;
		height:42px;
		position: absolute;
		top: -52px;
		right: 57px;
		background: url('../images/arrows.jpg') no-repeat;
		display: block;
		float: left;

		&:hover {
			opacity:0.7;
		}
	}

	a.next {
		background-position: -42px 0;
		margin-left: 10px;
		right: 10px;
	}
}

.selected { 
	color: @orange-color !important; 
}

ul#clients {
	margin-top: 50px;
	display: table;

	li {
		width: 135px;
		padding: 3px;
		margin: 0 10px 10px 0;
		float: left;
		border-radius: 5px;
		background-color: @gray-bgcolor;
		overflow: hidden;
		box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
		border: 1px solid #474747;
	}

}

form#contact-form {
	margin-top: 100px;

	input[type="text"], input[type="email"], textarea {
		background: #2b2b2b;
		font-weight: bold;
		color: #606060;
		font-size: 15px;
		width: 420px;
		padding: 12px;
		border: 0;
		margin-bottom: 10px;
	}

	textarea {
		height: 150px;
	}

	input[type="submit"] {
		text-transform: uppercase;
		color: @orange-color;
		font-size: 31px;
		background: none;
		border: 0;
		font-weight: bold;
		float: right;
		margin: 15px 15px 0 0;

		&:hover {
			opacity: 0.8;
		}
	}
}

.other-contact {
	margin-top: 30px;
}

footer { 
	text-align: center;
	background: @black-color;
	height: 120px;

	p {
		color: @basecolor;
		padding-top: 60px;
		font-weight: normal;
		font-size: 12px;
	}
}

#slides-testimony {
	padding: 0 10px 0 40px;
	background: url(../images/aspas.jpg) no-repeat;

	.slides_container {
		width: auto;

		li {
			width:430px;

			.slide {
				width: auto;
				background: none;
				box-shadow: none;
			}
		}
	}

	.clients  {
		color: @orange-color;
		margin-top: -13px;
	}
}

ul#team {
	margin-top: 50px;

	li {
		float: left;
		margin-right: 40px;

		&:last-child {
			margin-right:0;
		}

		img { 
			margin-bottom: 10px;
		}

		.career {
			color: @orange-color;
			margin-top: -13px;
		}
	}
}

#infografic {

	#info-slides {
		width: 538px;
		float: left;
		text-align: left;

		div {
			display: none;
			opacity: 0;

			.step-number {
				color: @orange-color;
				font-size: 100px;
				float: left;
				margin-top: -35px;
			}

			h1 {
				margin-top: 35px;
				padding-left: 80px;
				border-bottom: 1px dotted rgba(255, 255, 255, 0.4);
			}
		}
	}

	#info-controller {
		width: 450px;
		height: 390px;
		float: left;
		position: relative;

		li.step-1 {
			position: absolute;
			left: 150px;
		}

		li.step-2 {
			position: absolute;
			top:120px;
			right: 30px;
		}

		li.step-3 {
			position: absolute;
			top:240px;
			left: 150px;
		}

		li.step-4 {
			position: absolute;
			top:120px;
		}

		li {
			.ease-obj;
			.size-button;
			cursor: pointer;
			position: relative;
			
			.info-base {
				.ease-obj;
				.size-button;
				padding: 7px;
				background: @white-color;
				.white-gradient;
				position: absolute;
				top: 8px;
				left: 8px;

				&:hover {
					opacity: 0.8;
				}

				.info-number {
					.ease-obj;
					width: 120px;
					text-align: center;
					display: block;
					position: absolute;
					top: 5px;
					font-size: 20px;
					color: @black-color;
				}

				.info-text {
					width: 120px;
					text-align: center;
					display: block;
					position: absolute;
					top: 50%;
					margin-top: -5px;
				}
			}

			.info-root {
				.ease-obj;
				.size-button;
				padding: 12px;
				background: #000;
				opacity: 0.3;
				border: 3px solid transparent;
				position: absolute;
				top: 0;
			}
		}

		.select {
			.ease-obj;
			color: @white-color;

			.info-base {
				background: @orange-color;
				.orange-gradient;

				.info-number {
					color: #904508;
					text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
				}

				&:hover {
					opacity: 1;
				}
			}
			.info-root {
				border-color: @white-color;
			}
		}
	}
}